* {
    box-sizing: border-box;
    border: none;
    padding: none;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background:

    background-blend-mode: screen;
    background-repeat: no-repeat;
    user-select: none;
    }


.calculator {
    display: grid;
    width: 600px;
    position: relative;
    height: 700px;
    padding: 27px;
    border-radius: 7px;
    background-color: lightblue;
    grid-template-rows: repeat(6 , 1fr);
    grid-template-columns: repeat(4 , 1fr);
    text-align: center;
    box-shadow: 20px 20px 5px grey;
    color: white;
}


.screen-sign {
    position: absolute;
    top: 0;
    font-size: 30px;
    right: 10px;
    color: black;
    top: 40px;
    right: 40px;
    z-index: 5;
}

.btn {
    border-radius: 7px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;

}

.btn-click:active {
    transform: scale(0.98);
    border-bottom: 1px solid black;
}

/* calcualator color scheme */

.violet {
    background-color: #9cadce;
}
.lavender {
    background-color: #d1cfe2;
}
.greenyblue {
    background-color: #7ec4cf;
}

.calc-screen {
    padding-right: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
    position: relative;
    font-size: 40px;
    border-radius: 7px;
    grid-column: 1/-1;
    text-align: right !important;
    background-color: white;
    margin-bottom: 10px;
}

.calc-0 {
    grid-column: 1 / 3;
}

